.gallery {
	margin-top: 5rem;
}

.gallery__display-wrapper {
	overflow-x: scroll;
}

.gallery__display {
	position: relative;
	display: flex;
	width: 100%;
	margin-top: 2rem;
}

.gallery__image-container {
	position: relative;
}

.gallery__picture-clip,
.gallery__picture-clip--horizontal {
	position: absolute;
	top: -5%;
	left: 54%;
	z-index: 100;
}

.gallery__photograph-container {
	width: 100%;
	height: 370px;
	border-top: 2px solid black;
	padding-left: 2rem;
	margin-bottom: 4rem;
}

.gallery__photograph {
	border-top: 16px solid #fafafa;
	border-bottom: 14px solid #fafafa;
	border-right: 16px solid #fafafa;
	border-left: 16px solid #fafafa;
	box-shadow: -3px 11px 8px -1px rgba(0, 0, 0, 0.23);
	border-radius: 2px;
	cursor: pointer;
}

.gallery__caption {
	position: relative;
	border-radius: 2px;
	padding: 1rem;
	background-color: #fafafa;
	box-shadow: -3px 11px 8px -1px rgba(0, 0, 0, 0.23);
}

.gallery__caption--animation {
	animation: fadeInAnimation ease 600ms;
	animation-fill-mode: both;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

.gallery__caption--hidden {
	display: none;
}

/* Button styles */
.gallery__buttons-container {
	display: flex;
	flex-direction: column;
	padding-left: 25vw;
	padding-right: 25vw;
	border-top: 2px solid black;
	background-color: #f5f5f5;
}

.gallery__buttons {
	display: inline-block;
	width: 161px;
	max-width: 310px;
	padding: 0.8em 2em;
	text-align: center;
	border-radius: 2px;
}

.gallery__primary-button {
	background-color: var(--button-primary-background);
	color: var(--button-primary-color);
	margin-top: 3rem;
	text-decoration-color: var(--primary-color);
	transition: background-color 300ms, text-decoration-color 300ms;
}

.gallery__secondary-button {
	background-color: var(--button-secondary-background);
	color: var(--button-secondary-color);
	box-shadow: inset 0px 0px 0px 2px #080808;
	margin-top: 1rem;
	text-decoration-color: #fafafa;
	transition: background-color 300ms, text-decoration-color 300ms;
}

/* Button active styles */
.gallery__buttons:active {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25),
		inset 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.gallery__primary-button:active {
	background-color: var(--button-primary-background-active);
}

.gallery__secondary-button:active {
	background-color: var(--button-secondary-background-active);
	box-shadow: inset 0px 0px 0px 2px #080808;
}

/* Button hover styles */
.gallery__buttons:hover {
	text-decoration: underline;
}

.gallery__primary-button:hover {
	background-color: var(--button-primary-background-hover);
	color: var(--button-primary-color-hover);
	text-decoration-color: var(--button-primary-color-hover);
}

.gallery__secondary-button:hover {
	background-color: var(--button-secondary-background-hover);
	color: var(button-secondary-color-hover);
	text-decoration-color: var(--button-secondary-color-hover);
}

@media only screen and (min-width: 1000px) {
	.gallery {
		margin-top: 6rem;
	}
	.gallery__picture-clip {
		position: absolute;
		top: -2.9%;
		left: 72%;
		z-index: 100;
	}

	.gallery__picture-clip--horizontal {
		position: absolute;
		top: -2.9%;
		left: 67%;
	}

	.gallery__photograph-container {
		width: 100%;
		min-height: 700px;
		border-top: 2px solid black;
	}

	.gallery__photograph {
		margin-left: 20rem;
	}

	.gallery__caption {
		margin-left: 20rem;
		text-align: center;
	}

	.gallery__buttons-container {
		padding-left: 20rem;
		padding-right: 15vw;
		border-top: 2px solid black;
	}

	.gallery__buttons {
		width: 310px;
		padding: 0.8em 2em;
		text-align: center;
		border-radius: 2px;
		font-size: 1.2rem;
	}

	.gallery__primary-button {
		margin-top: 8rem;
	}
}
