@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
	background-color: #f5f5f5;
	font-family: 'Roboto', sans-serif;
}

main {
	animation: fadeInAnimation ease 500ms;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Navigation */
.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 14px 6px;
	background-color: #f5f5f5;
}

.nav__close-hamburger-menu {
	position: relative;
	right: 4px;
	cursor: pointer;
	padding: 10px;
}

.nav__close-hamburger-menu,
.nav__hamburger-menu,
.nav__logo {
	cursor: pointer;
	padding: 10px;
}

.nav__menu {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	text-align: center;
	font-weight: bold;
	padding-top: 8rem;
	width: 100vw;
	height: 100vh;
	margin-top: 3rem;
}

.nav__menu-item + .nav__menu-item {
	margin-top: 2rem;
}

.nav__menu-item--link {
	text-decoration: underline;
	transition: color 300ms;
}

.nav__menu-item--current-link {
	color: #616161;
	text-decoration: none;
}

.nav__menu-item--current-link:hover {
	cursor: default;
}

.nav__menu-item--link:hover,
.main__content-about-me-link:hover {
	color: #949494;
	text-decoration: none;
}

.nav__menu-item-link:hover,
.main__content-about-me-link:hover {
	color: #949494;
	text-decoration: none;
}

/* Main */
.main {
	max-width: 1440px;
	margin: 0 auto;
	width: 100%;
}
.main--spacing {
	margin-top: 5rem;
}

.main--padding {
	padding: 0 16px;
}

/* Hero__hero-image */
.main__hero-image-container--spacing-top {
	margin-top: 4rem;
}

.main__hero-image--size {
	width: 100%;
	height: auto;
}

/* Main__content */
.main__content--flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main__content-header--text-size {
	font-size: 2.2rem;
}

.main__content-header--spacing {
	margin-top: 1rem;
}

.main__content-subheader--text-size {
	font-size: 1.1rem;
}

.main__content-subheader--spacing {
	margin-bottom: 1rem;
}

.main__content-button--shared-styles {
	border-radius: 1px;
	margin-bottom: 1rem;
	box-shadow: var(--button-shadow);
}

.main__content-primary-button {
	color: var(--text-on-dark);
	background-color: var(--primary-color);
	padding: 0.65em 2.5em;
}

.main__content-primary-button:hover {
	background-color: #616161;
	color: #f5f5f5;
	text-decoration: underline;
}

.main__content-secondary-button {
	color: var(--primary-color);
	background-color: #fafafa;
	padding: 0.65em 2.71em;
	border: var(--secondary-button-border);
}

.main__content-secondary-button:hover {
	background-color: #e8e8e8;
	color: #383838;
	text-decoration: underline;
}

.main__content-about-me-link--decoration {
	text-decoration: underline;
}

.main__content-about-me-link--spacing {
	margin-bottom: 2rem;
}

/* Must be at bottom */
.hidden {
	display: none;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 700px) {
	/* NAVIGATION */
	.nav {
		padding: 20px 32px;
	}

	.nav__menu-item-link--text {
		font-size: 1.2rem;
	}

	/* MAIN CONTENT */
	.main--spacing {
		margin-top: 7rem;
	}
	.main__hero-image-container {
		display: flex;
		justify-content: center;
	}
	.main__hero-image--size {
		width: 80%;
	}

	.main__content--spacing {
		margin-left: 3rem;
	}
	.main__content-header--text-size {
		font-size: 3rem;
	}

	.main__content-subheader--text-size {
		font-size: 1.5rem;
	}

	.main__content-primary-button,
	.main__content-secondary-button,
	.main__content-about-me-link {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 992px) {
	/* NAVIGATION */
	.hidden {
		display: inline-block;
	}

	.nav {
		padding: inherit 0;
	}

	.nav__close-hamburger-menu,
	.nav__hamburger-menu {
		display: none;
	}

	.nav__menu {
		position: relative;
		top: none;
		left: none;
		padding: 0;
		margin: 0;
		height: inherit;
		width: none;
		text-align: right;
	}

	.nav__menu-item {
		display: inline-block;
	}

	.nav__menu-item--link {
		font-size: 1rem;
	}

	.nav__menu-item + .nav__menu-item {
		margin: 1rem 0 0 4rem;
	}

	/* MAIN CONTENT */

	.main--spacing {
		margin-top: 10rem;
	}
	.main--flex {
		display: flex;
		justify-content: space-between;
	}

	/* .main--padding {
		padding: 0 6rem;
	} */

	.main__hero-image--size {
		width: 80%;
	}

	.main__content--flex {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.main__content--size {
		width: 40%;
	}

	.main__content--spacing {
		position: relative;
		right: 60px;
		bottom: 15px;
		margin-top: 5rem;
	}

	.main__content-header--text-size {
		font-size: 3.5rem;
	}

	.main__content-subheader--spacing {
		margin-bottom: 2rem;
	}

	.main__content-about-me-link--spacing {
		margin-left: 4rem;
	}
}

@media only screen and (min-width: 1346px) {
	.main__hero-image--size {
		width: 90%;
	}
	.main__content--size {
		width: 34%;
	}
	.main__content-header--text-size {
		font-size: 4rem;
	}
	.main__content--spacing {
		margin-top: 7rem;

		position: relative;
		right: 5px;
		bottom: 10px;
	}
} ;
